@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anuphan:wght@200&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
font-family: 'Acme', sans-serif;
font-family: 'Anuphan', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
    }
}